@import './variables.scss';

.storybook-button {
  font-family: $typography-body;
  font-size: $font-size-base;
  font-weight: 700;
  border: 0;
  border-radius: $xs;
  padding: $sm;
  cursor: pointer;
  display: flex;
  line-height: $md;
    i {
      margin-right:0.5em;
      fill:white;
    }
  &:hover{
    transform: translate3d(0px, -3px, 0px);
    transition: all 150ms ease-out 0s;
    @include elevated;
  }
  &:active{
    transform: none;
    transition: none;
    box-shadow: none;
  }
}
.storybook-button--primary {
  color: white;
  background-color: $flamingo-pink;
  &:hover{
    background-color: $flamingo-tint-30;
  }
}
.storybook-button--secondary {
  color: $wave-blue;
  border-width: $xxs;
  border-style: solid;
  border-color: $wave-blue;
  background-color: transparent;
}
